h1 {
    color:black;
    opacity: 70%;
    text-align: center;
}

img {
 min-width: 10px;
 
}

div {
   display: flex;
   justify-content: center;
}

h2 {
    color: #10A139;
    font-size: 55px;
    text-align: center;
}

p {
    text-align: center;
}

button {
    color: #10A139;
    align-items: center;
    width: 200px;
    height: 50px;
}

#id_cadastro {
    color: #10A139;
    font-size: 11px;
}